<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Cadastrar novo aluno</h3>
					<a href="/#!/users" class="btn btn-success btn-xs pull-right"><i class="ion ion-chevron-left"></i> Voltar</a>
				</div>
				<div class="box-body">
					<form role="form">
						<div class="box-body">
							<div class="form-group">
								<label for="name">Nome (*)</label>
								<input type="text" class="form-control" id="name" placeholder="Nome do aluno" ng-model="user.name" required>
							</div>
							<div class="form-group">
								<label for="email">E-mail (*)</label>
								<input type="email" class="form-control" id="email" placeholder="Email do aluno" ng-model="user.email" required>
								<p class="help-block"><small>Preencha com atenção, pois o endereço de email não poderá ser alterado posteriormente.</small></p>
							</div>
							<div class="form-group">
								<label for="birthdate">Data de Nascimento (*)</label>
								<div class="dropdown">
									<a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target=".dropdown">
										<div class="input-group">
											<input type="text" id="birthdate" data-date-time-input="DD/MM/YYYY" name="birthdate" class="form-control" data-ng-model="user.birthdate">
											<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
										</div>
									</a>

									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<datetimepicker data-ng-model="user.birthdate" 
										data-datetimepicker-config="{ dropdownSelector: '#dropdown', minView: 'day', modelType: 'moment' }"
										data-on-set-time="onTimeSet(newDate, oldDate)"></datetimepicker>
									</ul>
								</div>
							</div>
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-primary" ng-click="saveForm()">Salvar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</section>