<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-8">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Detalhes do aluno: {{ userFormTitle }} </h3>
					<a class="btn btn-danger btn-xs pull-right" data-toggle="modal" data-target="#DeleteModal" style="margin-left:10px;">Excluir <i class="ion ion-android-cancel"></i></a>
					<a href="/#!/users" class="btn btn-success btn-xs pull-right"><i class="ion ion-chevron-left"></i> Voltar</a>
				</div>
				<div class="box-body">
					<form role="form">
						<div class="box-body">
							<div class="form-group">
								<label for="name">Nome (*)</label>
								<input type="text" class="form-control" id="name" placeholder="Nome do aluno" value="{{ user.name }}" ng-model="user.name" required>
							</div>
							<div class="form-group">
								<label for="email">E-mail (*)</label>
								<input type="email" class="form-control" id="email" placeholder="Email do aluno" value="{{ user.email }}" required disabled>
							</div>
							<div class="form-group">
								<label for="birthdate">Data de Nascimento (*)</label>
								
								<div class="dropdown">
									<a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target=".dropdown">
										<div class="input-group">
											<input type="text" id="birthdate" data-date-time-input="DD/MM/YYYY" name="birthdate" class="form-control" data-ng-model="user.birthdate">
											<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
										</div>
									</a>

									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<datetimepicker data-ng-model="user.birthdate" 
										data-datetimepicker-config="{ dropdownSelector: '#dropdown', minView: 'day', modelType: 'moment' }"
										data-on-set-time="onTimeSet(newDate, oldDate)"></datetimepicker>
									</ul>
								</div>
							</div>
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-primary" ng-click="saveForm()">Salvar</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Cursos Matriculados ({{ registrations.length ? registrations.length : 0 }})</h3>
				</div>

				<div class="box-body">
					<div class="info-box registrationInUserBox" ng-repeat="(key, value) in registrations">
						<span class="info-box-icon bg-aqua">
							<i class="ion {{ value.course.category.icon }}"></i>
						</span>
						<div class="info-box-content">
							<small class="pull-right">{{ value.course.category.title }}</small>
							<span class="info-box-number">{{ value.course.title }}</span>
							<a class="pull-right btn btn-primary btn-xs" ng-href="/#!/registrations/details/{{ value.id }}">Ver matrícula</a>
							<span class="info-box-text">{{ value.date }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>


<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="DeleteModalLabel">Excluir usuário</h4>
			</div>
			<div class="modal-body">
				Tem certeza que deseja excluir este usuário?<br/>
				Essa operação irá excluir todos as matrículas vinculadas à ele, e não poderá ser desfeito.
			</div>
			<div class="modal-footer">
				<button type="button" ng-click="deleteUser();" class="btn btn-danger pull-left">Sim, desejo excluir!</button>
				<button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Não, quero desistir!</button>
			</div>
		</div>
	</div>
</div>