<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Cadastrar nova categoria</h3>
					<a href="/#!/courses-category" class="btn btn-success btn-xs pull-right"><i class="ion ion-chevron-left"></i> Voltar</a>
				</div>
				<div class="box-body">
					<form role="form">
						<div class="box-body">
							<div class="form-group">
								<label for="title">Título (*)</label>
								<input type="text" class="form-control" id="title" placeholder="Título da categoria" ng-model="course_category.title" required>
							</div>
							<div class="form-group">
								<label for="icon">Ícone</label>
								<input type="text" class="form-control" id="icon" placeholder="Ícone" ng-model="course_category.icon">
								<p class="help-block"><small>Consulte a lista de ícones no site <a href="http://ionicons.com/" target="_blank">Ionicons</a>.</small></p>
							</div>
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-primary" ng-click="saveForm()">Salvar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</section>